/*element selector*/
body {
  background-color: #3cc47c;
}

/*class selector*/
.color-paragraph {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font: "Trebuchet MS"
}
.bold-underline {
  font-weight: bold;
  text-decoration: underline;
}
