/*element selector*/
body {
  background-color: #F5E1A4;
  background-repeat: no-repeat;
}

/*class selector*/
.color-paragraph0 {
  color: rgb(70, 70, 70);
  font-family: 'Raleway', sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 125%;
}
.color-paragraph1 {
  color: rgb(70, 70, 70);
  font-family: 'Raleway', sans-serif;
  padding-left: 50px;
  padding-right: 600px;
  font-size: 125%;
}
.bold-underline {
  font-weight: bold;
  text-decoration: underline;
}
.heading {
  color: rgb(255, 255, 255);
  font-size: 500%;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 137.5px;
  padding-bottom: 112.5px;
  font-family: 'Athiti', sans-serif;
}
.padded-cell {
  padding: 30px;
}
.subheading {
  color: rgb(255, 255, 255);
  font-size: 200%;
  text-align: center;
  font-family: 'Athiti', sans-serif;
  padding-bottom: 75px;
  padding-left: 100px;
  padding-right: 100px;
}
.background0 {
  background-image: url('assets/img/home-bg-0.jpg');
  background-repeat: no-repeat;
}
